<html>
  <head>	
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<title>
		Weather Station
	</title>
	<meta charset='UTF-8'>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script>
		$(document).ready(function(){
			$('form').submit(function(event){
				x = $("input:first").val();
				$.get("http://api.openweathermap.org/data/2.5/forecast/weather?q=" + x + "&units=imperial&appid=f1d3f433a6d6e9437ed95b869365e9be", function(data){
				//console.log(data);
				console.log(data.city.name);
				var temp ="";
				temp = "<h2 id='temp'>" + "Temp: " + data.list[0].main.temp + "</h2>";
				$('#results').html(temp);
				var city_name ="";
				city_name = "<h4 id='City' >" + data.city.name + "</h4>";
				$('#city_name').html(city_name);
				},'json');
				return false; 
			});
		})
	</script>
  </head>
  <body>
	</h3> Submit Your City </h3>	
	<form id='city_submission' action='' method='' name='test' value='test2'>
		<input id='city_text_box' type='text' value='input_city' name='the_city'></input>
		<input id='button' type='submit' value='submit query'></input>
	</form>
	<p><div id='city_name' ></div></p>
	<div id='results' ></div>
  </body>
</html>


